In [1]:
import pandas as pd
import numpy as np
import requests

In [211]:
skills = ['learning', 'data', 'computer', 'science', 'deep', 'machine', 'experience', 'work', 'skills']

In [ ]:
https://jobs.github.com/positions.json?
description=python&location=sf&full_time=true
location=austin

In [212]:
def job_data(description)
    df = pd.DataFrame()
    for skill in skills:
        url = 'https://jobs.github.com/positions.json?'
        endpoint = 'description=' + description + '&full_time=true'
        request = requests.get(url + endpoint + skill)
        response = request.json()
        data = pd.DataFrame(response)
        df = pd.concat([df, data], axis=0, ignore_index=True)

In [231]:
def job_data(description):
    df = pd.DataFrame()
    url = 'https://jobs.github.com/positions.json?'
    endpoint = 'description=' + description + '&full_time=true'
    request = requests.get(url + endpoint + skill)
    response = request.json()
    data = pd.DataFrame(response)
    df = pd.concat([df, data], axis=0, ignore_index=True)
    return df

In [233]:
df = job_data('machine')

In [243]:
df.columns

Index(['company', 'company_logo', 'company_url', 'created_at', 'description',
       'how_to_apply', 'id', 'location', 'title', 'type', 'url'],
      dtype='object')

In [248]:
df.nunique()

company         14
company_logo    24
company_url     12
created_at      26
description     26
how_to_apply    23
id              26
location        15
title           25
type             1
url             26
dtype: int64

In [239]:
df['company'].value_counts()

Apple Inc.                                       11
SmartNews                                         2
Informatica                                       2
spaceOS Limited                                   1
Numbrs Personal Finance AG                        1
DRONE CHAMPIONS AG                                1
Able Applied Technologies                         1
Drukwerkdeal.nl                                   1
Shoplogix                                         1
Booking.com BV                                    1
NinthDecimal                                      1
trivago                                           1
UC San Diego Center for Microbiome Innovation     1
HashiCorp                                         1
Name: company, dtype: int64

In [247]:
df[ df['company']=='Apple Inc.' ][['title','location']]

                                                title       location
0               Siri - Software Engineer, Information    Seattle, WA
1   Siri - Senior Language Technologies R&D Scient...  Cupertino, CA
2                  Siri - Language Modeling Scientist  Cupertino, CA
3                  Siri - Knowledge Software Engineer  Cupertino, CA
9                  Software Engineer, Universal Media  Cupertino, CA
10               Siri - Senior Data Platform Engineer  Cupertino, CA
11    Siri - Senior Machine Translation R&D Scientist  Cupertino, CA
15                    Siri - Software Engineer, Music  Cupertino, CA
23                       Apple Music - Data Scientist  Cupertino, CA
24  Apple Music - Analytics Manager, Product & Con...  Cupertino, CA
25                    Siri - Software Engineer, Music  Cupertino, CA